.projectPreview {
  width: 300px;
  height: 180px;
  object-fit: cover;
}

.projectLinks {
  padding: 2px !important;
  display: flex !important;
  align-items: center !important;
  font-size: 13px !important;
}

.soloCard small {
  color: rgb(119, 119, 119) !important;
}

.soloCard {
  background-color: rgb(39, 39, 39) !important;
  width: 300px !important;
}
